@use "sass:color";
$rain: #2C3845;

.body-task {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-task {
  height: 70%;
  width: 85%;
  background: #faeded;
  border-radius: 30px;
  padding: 3rem;
}

.header-task {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.content-task {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-task {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

table {
  display: block;
}
tr,td,tbody, tfoot {
  display: block;
}
thead {
  display: none;
}
tr {
  padding-bottom: 10px;
}
td {
  padding: 10px 10px 0;
  text-align: center;
  &:before {
    content: attr(data-title);
    color: lighten($rain,35%);
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-right: 10px;
    display: block;
  }
}
table {
  width: 100%;
}

th {
  text-align: left;
  font-weight: 700;
}
thead {
  th {
    background-color: darken($rain,6%);
    color: #fff;
    border: 1px solid darken($rain,6%);
  }
}
tfoot {
  th {
    display: block;
    padding: 10px;
    text-align: center;
    color: lighten($rain,55%);
  }
}
