@use "sass:color";

.body-task {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-task {
  height: 70%;
  width: 85%;
  background: #ffffff;
  border-radius: 30px;
  padding: 3rem;

  button {
    background: #00aeef;
    padding: 1rem 2rem;
    text-decoration: none;
    border: none;
    font-family: inherit;
    cursor: pointer;

    // Visual
    font-size: 1.5rem;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

    // Size
    &:not(.icon-button) {
      padding: 0.25em 0.75em;
      min-width: 10ch;
      min-height: 44px;
    }

    // Text
    text-align: center;
    line-height: 1.1;

    transition: 220ms all ease-in-out;

    &:hover,
    &:active {
      background-color: color.scale(#00aeef, $lightness: -20%);
    }

    &:disabled {
      background-color: color.scale(#00aeef, $lightness: 60%);
      color: #222b45;
      cursor: auto;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px color.scale(#00aeef, $lightness: -40%);
    }

    &--small {
      font-size: 1.15rem;
    }
  }
}

.header-task {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.content-task {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.footer-task {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.task-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 0.6rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding: 1rem 0rem;
  text-align: center;
  background-color: #00aeef;
  color: white;
}

.element-card {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .element-button {
    background: #00aeef;
    padding: 1rem;
    text-decoration: none;
    border: none;
    font-family: inherit;
    cursor: pointer;

    font-size: 1.5rem;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

    &:not(.icon-button) {
      padding: 0.25rem;
      min-width: 3.5rem;
      min-height: 3.5rem;
    }

    text-align: center;
    line-height: 1.1;

    transition: 220ms all ease-in-out;

    &:hover,
    &:active {
      background-color: color.scale(#00aeef, $lightness: -20%);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px color.scale(#00aeef, $lightness: -40%);
    }
  }
}
