@use "sass:color";

.body-task {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-task {
  background: #ffffff;
  height: 70%;
  width: 85%;
  border-radius: 30px;
  padding: 3rem;
}

.header-task {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 38px;
  line-height: 48px;
  position: relative;

  .back {
    position: absolute;
    left: 0;
    background: #00aeef;
    padding: 1rem;
    text-decoration: none;
    border: none;
    font-family: inherit;
    cursor: pointer;

    // Visual
    font-size: 1.5rem;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

    // Size
    &:not(.icon-button) {
      padding: 0.25rem;
      min-width: 3.5rem;
      min-height: 3.5rem;
    }

    // Text
    text-align: center;
    line-height: 1.1;

    transition: 220ms all ease-in-out;

    &:hover,
    &:active {
      background-color: color.scale(#00aeef, $lightness: -20%);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px color.scale(#00aeef, $lightness: -40%);
    }
  }
}

.body-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .upper-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0rem;

    .element-title {
      width: 50%;
    }

    .element-expiration {
      width: 35%;
    }

    .element-checkbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 10%;
    }
  }

  .checkbox-wrapper-3 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-3 .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }

  .checkbox-wrapper-3 .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9a9999;
    border-radius: 8px;
    transition: background 0.2s ease;
  }

  .checkbox-wrapper-3 .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
  }

  .checkbox-wrapper-3 .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: #00aeef;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
  }

  .checkbox-wrapper-3 #cbx-3:checked + .toggle:before {
    background: #58c4eb;
  }

  .checkbox-wrapper-3 #cbx-3:checked + .toggle span {
    background: #00aeef;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25),
      background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
  }

  .checkbox-wrapper-3 #cbx-3:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
  }

  .checkbox-wrapper-3 input[type="checkbox"]:disabled + .toggle {
    opacity: 0.5;
    cursor: auto;
  }

  .down-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 60%;

    .input-view {
      height: 100%;
      width: 100%;
      resize: vertical;
      border-radius: 20px;
      border-width: 1px;
      --tw-border-opacity: 1;
      border-color: rgba(227, 228, 228, var(--tw-border-opacity));
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #222b45;
      margin: 0;
      padding: 12px;
      background-color: #f0f0f0;
    }
  }

  .save-register {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    padding: 1rem 0rem;
  }

  p {
    font-size: 24px;
    line-height: 29px;
    padding: 0.5rem;
    margin: 0;
  }

  input {
    border-radius: 30px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(227, 228, 228, var(--tw-border-opacity));
    height: 40px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #222b45;
    margin: 0;
    padding-left: 12px;
    background-color: #f0f0f0;
  }

  button {
    background: #00aeef;
    padding: 1rem 2rem;
    text-decoration: none;
    border: none;
    font-family: inherit;
    cursor: pointer;

    // Visual
    font-size: 1.5rem;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

    // Size
    &:not(.icon-button) {
      padding: 0.25em 0.75em;
      min-width: 10ch;
      min-height: 44px;
    }

    // Text
    text-align: center;
    line-height: 1.1;

    transition: 220ms all ease-in-out;

    &:hover,
    &:active {
      background-color: color.scale(#00aeef, $lightness: -20%);
    }

    &:disabled {
      background-color: color.scale(#00aeef, $lightness: 60%);
      color: #222b45;
      cursor: auto;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px color.scale(#00aeef, $lightness: -40%);
    }

    &--small {
      font-size: 1.15rem;
    }
  }
}
