$base: #00aeef;
$subtle: #54a1a0;
$rain: #2C3845;
$poppy: #BD2A4E;
$mobile-small: 460px;
$mobile: 720px;

html,body {
  &.open {
    height: 100%;
    overflow: hidden;
  }
}
html {
  font-size: 72%;
}

body {
  height: 100vh;
  margin: 0;
  background-color: $base;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: #2C3845;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #2C3845;
    margin: 0 1rem;
}

.error {
    color: red;
}