<div class="body-task">
  <div class="card-task">
    <div class="header-task">
      Register task
      <button class="back" (click)="navigateBack()">
        <fa-icon class="arrow-button" [icon]="faArrowLeft"></fa-icon>
      </button>
    </div>
    <div class="body-register" [formGroup]="tasksForm">
      <div class="upper-register">
        <div class="element-title">
          <p>Title</p>
          <input id="title" type="text" formControlName="title" />
        </div>
        <div class="element-expiration">
          <p>Expiration at</p>
          <input id="expirationAt" type="date" formControlName="expirationAt" />
        </div>
      </div>
      <div class="down-register">
        <p>Description</p>
        <textarea
          id="description"
          rows="10"
          formControlName="description"
          class="input-register"
        ></textarea>
      </div>
      <div class="save-register">
        <button [disabled]="!tasksForm.valid" (click)="onRegisterTask()">Salvar</button>
      </div>
    </div>
  </div>
  <app-modal
    *ngIf="isModalOpen"
    [message]="modalMessage"
    [backButton]="showBackButton"
    (close)="onModalClose($event)"
  ></app-modal>
</div>
