<div class="body-login">
  <div class="header-login">
    <p class="welcome">Welcome!</p>
    <p class="make-login">Sign in to access your account</p>
  </div>
  <div class="card-login">
    <div class="dados-login" [formGroup]="loginForm">
      <div class="elements-login">
        <p>Email</p>
        <input type="email" formControlName="email" />
        <div
          class="error"
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        >
          Invalid email
        </div>
      </div>
      <div class="elements-login">
        <p>Password</p>
        <input type="password" formControlName="password" />
      </div>
      <button (click)="login()" [disabled]="!loginForm.valid">Sign In</button>
    </div>

    <div class="new-acount">
      <p>
        Don't have an account? <a (click)="navigateToRegister()">Click here</a>
      </p>
    </div>
  </div>
</div>
